Source: git-sh
Maintainer: Angelo Compagnucci <angelo.compagnucci@gmail.com>
Section: vcs
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.3.8)
Homepage: https://github.com/angeloc/git-sh/

Package: git-sh
Architecture: all
Depends: git, ${misc:Depends}
Description: a git shell
 git-sh starts an interactive bash(1) session modified for git-heavy
 workflows.  Typical usage is to change into the directory of a git work
 tree or bare repository and run the git-sh command to start an interactive
 shell session.
